.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  width: 400px; 
  margin: 20px auto; 
  font-family: sans-serif;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

.input-area {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
  margin-bottom: 10px; 
}

.recording-controls { 
  display: flex;
  align-items: center; 
  margin-right: 10px; 
}

.microphone-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.microphone-icon.recording {
  background-color: #f0544f; /* Orange when recording */
}

.recording-time {
  margin-left: 5px; /* Reduced margin */
  font-size: 14px; /* Slightly smaller font size */
  color: #f0544f;
}

input[type='text'] {
  flex: 1; /* Input takes available space */
  border: none;
  padding: 8px;
  font-size: 1em;
}

#analyzer {
  width: 100px; /* Adjust width as needed */
  margin-left: 5px; 
}


button {
  background: none;
  border: none;
  padding: 0; 
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-between; 
  font-size: 0.8em; 
  color: #777; 
}

.tokens-per-second {
  font-weight: bold;
  color: #f0544f; 
}


.message-area {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex; 
  flex-direction: column; 
}

.message {
  margin-bottom: 10px; 
  padding: 10px 15px; 
  border-radius: 15px;
  max-width: 80%; 
}

.user-bubble {
  background-color: #e9ecef; 
  align-self: flex-end; 
}

.llm-bubble {
  background-color: #f0544f;
  color: white;
  align-self: flex-start; 
  font-family: 'Tiempos', serif; /* Apply Tiempos font */
}
.user-message {
  background-color: #e9ecef; 
  align-self: flex-end;
}

.bot-message {
  background-color: #f0544f; 
  color: white;
  align-self: flex-start; 
}

.extra-options {
  display: flex;
  justify-content: space-around; 
  padding: 10px;
  border-top: 1px solid #eee;
}
